body
{
	background: #202227;
}

#world
{
	position: absolute;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
	border: 3px solid #444444;
	background: #888888;
}

#floor
{
	position: absolute;
	height: 10%;
	width: 100%;
	top: 90%;
	left: 0;
	background: #666666; 
}

.thing
{
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #444444;
}